name: Publish to GitHub Packages

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate token from NOMBOT
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.NOMBOT_APP_ID }}
          private-key: ${{ secrets.NOMBOT_PRIVATE_KEY }}
      
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '18'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@nominal'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build
        run: npm run compile
      
      - name: Run tests
        run: npm test
        env:
          MOCHA_THROW_DEPRECATION: false
      
      - name: Publish to GitHub Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ steps.generate_token.outputs.token }}
