name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Get Token
        id: get_actions_token
        uses: nominal-io/workflow-application-token-action@d17e3a9a36850ea89f35db16c1067dd2b68ee343 # v4.0.1
        with:
          application_id: ${{secrets.NOMBOT_APP_ID}}
          application_private_key: ${{secrets.NOMBOT_PRIVATE_KEY}}
          permissions: 'contents:read, pull-requests:write'
          revoke_token: true

      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4.1.3
        with:
          token: ${{ steps.get_actions_token.outputs.token }}
